In [1]:
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [6]:
df_raw = [["소주", "콜라", "맥주"], ["소주","콜라", "와인"],["소주", "주스"],["콜라","맥주"], ["소주", "콜리", "맥주", "와인"], ["주스"]]
df_raw

[['소주', '콜라', '맥주'],
 ['소주', '콜라', '와인'],
 ['소주', '주스'],
 ['콜라', '맥주'],
 ['소주', '콜리', '맥주', '와인'],
 ['주스']]

In [7]:
enc = TransactionEncoder()
df_raw_enc = enc.fit_transform(X=df_raw)
df_asso = pd.DataFrame(df_raw_enc, columns=enc.columns_)
df_asso.head()

      맥주     소주     와인     주스     콜라     콜리
0   True   True  False  False   True  False
1  False   True   True  False   True  False
2  False   True  False   True  False  False
3   True  False  False  False   True  False
4   True   True   True  False  False   True

In [8]:
v_min_sup = 0.5

# 지지도 계산
df_freq = apriori(df_asso, min_support=v_min_sup, use_colnames=True)
df_freq.round(3)

   support itemsets
0    0.500     (맥주)
1    0.667     (소주)
2    0.500     (콜라)

In [9]:
# 기준=신뢰도, 최소 신뢰도 : 0.5
df_asso_rule = association_rules(df_freq, metric="confidence", min_threshold=0.5)
df_asso_rule.round(3)

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction]
Index: []

In [2]:
df_raw = [["우유", "라면"], ["라면"],["아이스크림", "우유"],["과자","라면"], ["아이스크림"]]
df_raw

[['우유', '라면'], ['라면'], ['아이스크림', '우유'], ['과자', '라면'], ['아이스크림']]

In [3]:
enc = TransactionEncoder()
df_raw_enc = enc.fit_transform(X=df_raw)
df_asso = pd.DataFrame(df_raw_enc, columns=enc.columns_)
df_asso.head()

      과자     라면  아이스크림     우유
0  False   True  False   True
1  False   True  False  False
2  False  False   True   True
3   True   True  False  False
4  False  False   True  False

In [10]:
v_min_sup = 0.5

# 지지도 계산
df_freq = apriori(df_asso, min_support=v_min_sup, use_colnames=True)
df_freq.round(3)

   support itemsets
0      0.6     (라면)

In [11]:
# 기준=신뢰도, 최소 신뢰도 : 0.5
df_asso_rule = association_rules(df_freq, metric="confidence", min_threshold=0.5)
df_asso_rule.round(3)

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction]
Index: []